# dependencies
node_modules/
.pnp/
.pnp.js

# build output
dist/
build/
.next/
out/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*
logs/

# testing/coverage
coverage/

# editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# prisma
apps/api/prisma/*.db

# misc
.turbo/
